body{
	background-image: url("../img/437743.jpg");
	background-repeat: column;
	background-size: 100%;
}

div{
	padding:30px;
	justify-content: auto;
}

p{
	overflow:auto;
	text-align:justify;
	padding-right:10px;
	padding-left:30px;
	padding-top: 10px;
}
table{
	color:dark-grey;
	background-color: #c1c1c1c1;
	border: 1px, solid;
}

.commande{
	border-style: solid;
}
nav{

	font-family: 'PT-Serif', Serif;
	font-style: italic;
	text-align: center;
	font-size:14px;
}

